// Font
$main-font: 'DM Sans', sans-serif;
$brand-font: 'Titan One', sans-serif;

// Text color
$text-color: #000000;
$subtext-color: #907e82;
$white: #ffffff;

// Brand color
$brand-color: #d41443;
$brand-accent: #ffa5ba;
$alternate-accent-color: #d41342;

// Background color
$bg-color: #ffb8ca;
$bg-light: #fff5f6;
$bg-green: #c2e297;
$bg-grey: #e5e5e5;
$bg-cafe: #f0d1a5;
$social-bg-color: #fea5bb;
$hover-bg-color: #ecebeb;
$hover-bg-accent-color: #c7133e;
$quote-bg-color: #fafafa;
$quote-line-color: #e1e1e1;
$mobile-bg-nav: rgba(225, 121, 146, 1);

// Timing function
$transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
