<!-- Татьяна -->
<section class="advantages section">
    <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages-list">
        <li class="advantages-item milk">
            <h3 class="advantages-heading">721</h3>
            <p class="advantages-text"> Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages-item apple">
            <h3 class="advantages-heading">16kg</h3>
            <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages-item heart">
            <h3 class="advantages-heading">84</h3>
            <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
    </ul>
</div>
</section>