<!-- Татьяна -->
<section class="advantages section">
    <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages-list">
        <li class="advantages-item milk">
            <h3 class="advantages-heading">721</h3>
            <p class="advantages-text"> liters of fresh milk our lovely cows give every day for cooking goodies</p>
        </li>
        <li class="advantages-item apple">
            <h3 class="advantages-heading">16kg</h3>
            <p class="advantages-text">fruits during the day we use in our desserts  so you can get a portion of vitamins, minerals and pleasure</p>
        </li>
        <li class="advantages-item heart">
            <h3 class="advantages-heading">84</h3>
            <p class="advantages-text">84 points you can see in our menu and choose your favorite sweets</p>
            
        </li>
    </ul>
</div>
</section>