<!-- Алевтина -->
<section class="location">
  <div class="container">
    <h2 class="location__title">Contacts</h2>
    <ul class="location__list">
      <li class="location__item">
        <span class="location__point">CAFE</span>
        <p class="location__city">Chicago</p>
        <p class="location_text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      </li>
      <ul class="location__schedule">
        <li>
          <p class="location__working-mode">Monday - Friday</p>
          <p class="location__working-hours">06:00 AM - 10:00 PM</p>
        </li>
        <li>
          <p class="location__working-mode">Saturday - Sunday</p>
          <p class="location__working-hours">08:00 AM - 16:00 PM</p>
        </li>
      </ul>
      <ul class="location__contacts">
        <li class="location__contacts-item">
          <a href="tel:+610383766284" class="location__contacts-link"
            >+610383766284</a>
        </li>
        <li class="location__contacts-item">
          <a href="malito:noreply@envato.com" class="location__contacts-link"
            >noreply@envato.com</a>
        </li>
      </ul>
    </li>  
      <li class="location__item">
        <span class="location__point">FOODTRUCK</span>
        <p class="location__city">Los Angeles</p>
        <p class="location_text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
      </li>
      <ul class="location__schedule">
        <li>
          <p class="location__working-mode">Monday - Friday</p>
          <p class="location__working-hours">06:00 AM - 10:00 PM</p>
        </li>
        <li>
          <p class="location__working-mode">Saturday - Sunday</p>
          <p class="location__working-hours">08:00 AM - 16:00 PM</p>
        </li>
      </ul>
      <ul class="location__contacts">
        <li class="location__contacts-item">
          <a href="tel:+610383766284" class="location__contacts-link"
            >+610383766284</a
          >
        </li>
        <li class="location__contacts-item">
          <a href="malito:noreply@envato.com" class="location__contacts-link"
            >noreply@envato.com</a
          >
        </li>
      </ul>
      <li class="location__item">
        <span class="location__point">CAFE</span>
        <p class="location__city">New York</p>
        <p class="location_text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
      </li>
      <ul class="location__schedule">
        <li>
          <b class="location__working-mode">Monday - Friday</b>
          <p class="location__working-hours">06:00 AM - 10:00 PM</p>
        </li>
        <li>
          <b class="location__working-mode">Saturday - Sunday</b>
          <p class="location__working-hours">08:00 AM - 16:00 PM</p>
        </li>
      </ul>
      <ul class="location__contacts">
        <li class="location__contacts-item">
            <a href="tel:+610383766284" class="location__contacts-link">+610383766 28</a>
        </li>
        <li class="location__contacts-item">
            <a href="malito:noreply@envato.com" class="location__contacts-link">noreply@envato.com</a>
        </li>
      </ul>
    </li>
    </ul>
   <ul class="class="location__button"">
       <li class="location__button-item">
           <button class="location__button-loc">
               <span class="location__button-text">Our Locations</span>
               <svg class="location__button-icon-loc" width="6" height="10">
                   <use href="./images/icons.svg#icon-arrow-right-thick"></use>
               </svg>
           </button>
       </li>
       <li class="location__button-item">
        <button class="location__button-fran">
            <span class="location__button-text">Franchise</span>
            <svg class="location__button-icon-fran" width="9" height="10">
                <use href="./images/icons.svg"
            </svg>
        </button>
       </li>
   </ul> 
  </div>
</section>
