<!-- Виктория -->

<section class="customer">
    <div class="container">
        <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="./images/custom-services/client1x-mobile.png" 
                  alt="Customer 1"
                  width="85">
                  <article class="customer__article">
                      <p class="customer__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. 
                          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. 
                          Lorem ipsum primis in nibh vel risus.</p>
                  </article>
              </div>
              <div class="swiper-slide">
                <img src="./images/custom-services/client1x-mobile.png" 
                  alt="Customer 2"
                  width="85">
                  <article class="customer__article">
                      <p class="customer__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. 
                          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. 
                          Lorem ipsum primis in nibh vel risus.</p>
                  </article>
              </div>
              <div class="swiper-slide">
                <img src="./images/custom-services/client1x-mobile.png" 
                  alt="Customer 3"
                  width="85">
                  <article class="customer__article">
                      <p class="customer__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. 
                          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. 
                          Lorem ipsum primis in nibh vel risus.</p>
                  </article>
              </div>
            </div>
          
            <div class="swiper-pagination"></div>
           
          </div>
    </div>
</section>