<!-- Виктория -->

<article class="customer section">
  <div class="container">
    <h2 class="visually-hidden">Customer Reviews</h2>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            class="swiper-slide__pic"
            srcset="
              ./images/custom-services/Margarita.png    1x,
              ./images/custom-services/Margarita@2x.png 2x
            "
            src="./images/custom-services/Margarita.png"
            alt="Margarita"
            width="85"
            height="85"
          />
          <div class="customer-article">
            <p class="customer-article__text">
              I am very pleased that I chose GoIT courses. I liked the
              accessible explanation of complex things. The entire learning
              process is very competently built, there is constant support from
              managers, mentors, fellow students.
            </p>
          </div>
          <p class="customer-article__location">Margarita, Lviv</p>
        </div>

        <div class="swiper-slide">
          <img
            class="swiper-slide__pic"
            srcset="
              ./images/custom-services/Serhii.png    1x,
              ./images/custom-services/Serhii@2x.png 2x
            "
            src="./images/custom-services/Serhii.png"
            alt="Serhii"
            width="85"
            height="85"
          />
          <div class="customer-article">
            <p class="customer-article__text">
              An interesting course of study, the real development of layout and
              programming skills. A team project provides excellent experience
              and understanding of the nuances of joint development. Need more!
            </p>
          </div>
          <p class="customer-article__location">Serhii, Ternopil</p>
        </div>

        <div class="swiper-slide">
          <img
            class="swiper-slide__pic"
            srcset="
              ./images/custom-services/Alevtyna.png    1x,
              ./images/custom-services/Alevtyna@2x.png 2x
            "
            src="./images/custom-services/Alevtyna.png"
            alt="Alevtyna"
            width="85"
            height="85"
          />
          <div class="customer-article">
            <p class="customer-article__text">
              In GOIT I feel the professionalism of mentors in goaity, I like
              that mentors give constructive criticism and real knowledge, and
              of course, the most important thing is 70% practice and 30%
              lectures!
            </p>
          </div>
          <p class="customer-article__location">Alevtyna, Kharkiv</p>
        </div>

        <div class="swiper-slide">
          <img
            class="swiper-slide__pic"
            srcset="
              ./images/custom-services/Angelina.png    1x,
              ./images/custom-services/Angelina@2x.png 2x
            "
            src="./images/custom-services/Angelina.png"
            alt="Angelina"
            width="85"
            height="85"
          />
          <div class="customer-article">
            <p class="customer-article__text">
              Good organization of education. Mentor Ivan Sinabdeev is the best.
            </p>
          </div>
          <p class="customer-article__location">Angelina, Dnipro</p>
        </div>

        <div class="swiper-slide">
          <img
            class="swiper-slide__pic"
            srcset="
              ./images/custom-services/Valerie.png    1x,
              ./images/custom-services/Valerie@2x.png 2x
            "
            src="./images/custom-services/Valerie.png"
            alt="Valeriia"
            width="85"
            height="85"
          />
          <div class="customer-article">
            <p class="customer-article__text">
              Education at the GoIT school is interesting, the materials are of
              high quality, the mentors are qualified. I am satisfied that I
              chose this school and I hope that here I will get an excellent
              start for development and achievement of success in this field.
            </p>
          </div>
          <p class="customer-article__location">Valeriia, Odessa</p>
        </div>

        <div class="swiper-slide">
          <img
            class="swiper-slide__pic"
            srcset="
              ./images/custom-services/Viktoriia.png    1x,
              ./images/custom-services/Viktoriia@2x.png 2x
            "
            src="./images/custom-services/Viktoriia.png"
            alt="Viktoriia"
            width="85"
            height="85"
          />
          <div class="customer-article">
            <p class="customer-article__text">
              I am pleased to be a student of the GoIT school. It is
              informative, accessible and interesting.
            </p>
          </div>
          <p class="customer-article__location">Viktoriia, Kyiv</p>
        </div>

        <div class="swiper-slide">
          <img
            class="swiper-slide__pic"
            srcset="
              ./images/custom-services/Tatiana.png    1x,
              ./images/custom-services/Tatiana@2x.png 2x
            "
            src="./images/custom-services/Tatiana.png"
            alt="Tatiana"
            width="85"
            height="85"
          />
          <div class="customer-article">
            <p class="customer-article__text">
              Information on the course is systematized and presented in an
              accessible way. The learning process itself is not monotonous and
              interesting, it's great when there is not just a theory, but also
              auto-checks, layout creation, live webinars, work on projects in
              groups.
            </p>
          </div>
          <p class="customer-article__location">Tatiana, Chernihiv</p>
        </div>

        <div class="swiper-slide">
          <img
            class="swiper-slide__pic"
            srcset="
              ./images/custom-services/Vladyslav.png    1x,
              ./images/custom-services/Vladyslav@2x.png 2x
            "
            src="./images/custom-services/Vladyslav.png"
            alt="Vladyslav"
            width="85"
            height="85"
          />
          <div class="customer-article">
            <p class="customer-article__text">
              I'm satisfied with the course, I advise all people who are
              interested in programming and who want to start a career in IT.
            </p>
          </div>
          <p class="customer-article__location">Vladyslav, Kyiv</p>
        </div>

        <div class="swiper-slide">
          <img
            class="swiper-slide__pic"
            srcset="
              ./images/custom-services/Nataliya.png    1x,
              ./images/custom-services/Nataliya@2x.png 2x
            "
            src="./images/custom-services/Nataliya.png"
            alt="Nataliya"
            width="85"
            height="85"
          />
          <div class="customer-article">
            <p class="customer-article__text">
              I am studying on the Full Stack Online course, I like everything
              very much. Excellent organizational work, professional teachers
              who are always ready to help. A very accessible, interesting and
              understandable course of study, which is built in such a way that
              it is very involved in the learning process.
            </p>
          </div>
          <p class="customer-article__location">Nataliya, Kyiv</p>
        </div>
      </div>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</article>
