<!-- Виктория -->

<section class="customer section">
    <div class="container">
      <h2 class="visually-hidden">Customer Reviews</h2>
        <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img class="swiper-slide__pic"
                  src="./images/custom-services/client1x-mobile.png" 
                  alt="Customer 1"
                  width="85">

                <div class="customer-article">
                  <article class="customer-article__item">
                      <p class="customer-article__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. 
                          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. 
                          Lorem ipsum primis in nibh vel risus.</p>
                  </article>
                </div>
                <p class="customer__location">Emily, Los Angeles</p>
              </div>

              <div class="swiper-slide">
                <img class="swiper-slide__pic"
                  src="./images/custom-services/client1x-mobile.png" 
                  alt="Customer 1"
                  width="85">

                <div class="customer-article">
                  <article class="customer-article__item">
                      <p class="customer-article__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. 
                          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. 
                          Lorem ipsum primis in nibh vel risus.</p>
                  </article>
                </div>
                <p class="customer__location">Emily, Los Angeles</p>
              </div>

              <div class="swiper-slide">
                <img class="swiper-slide__pic"
                  src="./images/custom-services/client1x-mobile.png" 
                  alt="Customer 1"
                  width="85">

                <div class="customer-article">
                  <article class="customer-article__item">
                      <p class="customer-article__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. 
                          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. 
                          Lorem ipsum primis in nibh vel risus.</p>
                  </article>
                </div>
                <p class="customer__location">Emily, Los Angeles</p>
              </div>
            </div>
          
            <div class="swiper-pagination"></div>
           
          </div>
    </div>
</section>