<!-- Ангелина -->
<section class="gallery section">
    <div class="container">
        <ul class="gallery-list list">
            <li class="gallery-item box1">
                <picture class="gallery-picture">
                    <source 
                        srcset="
                        ./images/gallery/gallery-desktop/gal-des1.jpg 1x,
                        ./images/gallery/gallery-desktop/gal-des1-2x.jpg 2x
                        "
                        media="(min-width: 1200px)"
                    >
                    <source 
                        srcset="
                        ./images/gallery/gallery-tablet/gal-tab1.jpg 1x,
                        ./images/gallery/gallery-tablet/gal-tab1-2x.jpg 2x
                        "
                        media="(min-width: 768px)"
                    >
                    <source 
                        srcset="
                            ./images/gallery/gallery-mobile/gal-mob1.jpg 1x,
                            ./images/gallery/gallery-mobile/gal-mob1-2x.jpg 2x
                        "
                        media="(min-width: 320px)"
                    >
                    <img src="./images/gallery/gallery-desktop/gal-des1.jpg" alt="ice-cream" width="138">
                </picture>
               
                
            </li>
            <li class="gallery-item box2">
                <picture class="gallery-picture">
                    <source 
                        srcset="
                        ./images/gallery/gallery-desktop/gal-des2.jpg 1x,
                        ./images/gallery/gallery-desktop/gal-des2-2x.jpg 2x
                        "
                        media="(min-width: 1200px)"
                    >
                    <source 
                        srcset="
                        ./images/gallery/gallery-tablet/gal-tab2.jpg 1x,
                        ./images/gallery/gallery-tablet/gal-tab2-2x.jpg 2x
                        "
                        media="(min-width: 768px)"
                    >
                    <source 
                        srcset="
                            ./images/gallery/gallery-mobile/gal-mob2.jpg 1x,
                            ./images/gallery/gallery-mobile/gal-mob2-2x.jpg 2x
                        "
                        media="(min-width: 320px)"
                    >
                    <img src="./images/gallery/gallery-desktop/gal-des2.jpg" alt="ice-cream" width="138">
                </picture>
                
            </li>
            <li class="gallery-item box3">
                <picture class="gallery-picture">
                    <source 
                        srcset="
                        ./images/gallery/gallery-desktop/gal-des3.jpg 1x,
                        ./images/gallery/gallery-desktop/gal-des3-2x.jpg 2x
                        "
                        media="(min-width: 1200px)"
                    >
                    <source 
                        srcset="
                        ./images/gallery/gallery-tablet/gal-tab3.jpg 1x,
                        ./images/gallery/gallery-tablet/gal-tab3-2x.jpg 2x
                        "
                        media="(min-width: 768px)"
                    >
                    <source 
                        srcset="
                            ./images/gallery/gallery-mobile/gal-mob3.jpg 1x,
                            ./images/gallery/gallery-mobile/gal-mob3-2x.jpg 2x
                        "
                        media="(min-width: 320px)"
                    >
                    <img src="./images/gallery/gallery-desktop/gal-des3.jpg" alt="ice-cream" width="283">
                </picture>
                
            </li>
            <li class="gallery-item box4">
                <picture class="gallery-picture">
                    <source 
                        srcset="
                        ./images/gallery/gallery-desktop/gal-des4.jpg 1x,
                        ./images/gallery/gallery-desktop/gal-des4-2x.jpg 2x
                        "
                        media="(min-width: 1200px)"
                    >
                    <source 
                        srcset="
                        ./images/gallery/gallery-tablet/gal-tab4.jpg 1x,
                        ./images/gallery/gallery-tablet/gal-tab4-2x.jpg 2x
                        "
                        media="(min-width: 768px)"
                    >
                    <source 
                        srcset="
                            ./images/gallery/gallery-mobile/gal-mob4.jpg 1x,
                            ./images/gallery/gallery-mobile/gal-mob4-2x.jpg 2x
                        "
                        media="(min-width: 320px)"
                    >
                    <img src="./images/gallery/gallery-desktop/gal-des4.jpg" alt="ice-cream" width="138">
                </picture>
               
            </li>
            <li class="gallery-item box5">
                <picture class="gallery-picture">
                    <source 
                        srcset="
                        ./images/gallery/gallery-desktop/gal-des5.jpg 1x,
                        ./images/gallery/gallery-desktop/gal-des5-2x.jpg 2x
                        "
                        media="(min-width: 1200px)"
                    >
                    <source 
                        srcset="
                        ./images/gallery/gallery-tablet/gal-tab5.jpg 1x,
                        ./images/gallery/gallery-tablet/gal-tab5-2x.jpg 2x
                        "
                        media="(min-width: 768px)"
                    >
                    <source 
                        srcset="
                            ./images/gallery/gallery-mobile/gal-mob5.jpg 1x,
                            ./images/gallery/gallery-mobile/gal-mob5-2x.jpg 2x
                        "
                        media="(min-width: 320px)"
                    >
                    <img src="./images/gallery/gallery-desktop/gal-des5.jpg" alt="ice-cream" width="138">
                </picture>
                
            </li>
            <li class="gallery-item box6">
                <picture class="gallery-picture">
                    <source 
                        srcset="
                        ./images/gallery/gallery-desktop/gal-des6.jpg 1x,
                        ./images/gallery/gallery-desktop/gal-des6-2x.jpg 2x
                        "
                        media="(min-width: 1200px)"
                    >
                    <source 
                        srcset="
                        ./images/gallery/gallery-tablet/gal-tab6.jpg 1x,
                        ./images/gallery/gallery-tablet/gal-tab6-2x.jpg 2x
                        "
                        media="(min-width: 768px)"
                    >
                    <source 
                        srcset="
                            ./images/gallery/gallery-mobile/gal-mob6.jpg 1x,
                            ./images/gallery/gallery-mobile/gal-mob6-2x.jpg 2x
                        "
                        media="(min-width: 320px)"
                    >
                    <img src="./images/gallery/gallery-desktop/gal-des6.jpg" alt="ice-cream" width="138">
                </picture>
               
            </li>
            <li class="gallery-item box7">
                <picture class="gallery-picture">
                    <source 
                        srcset="
                        ./images/gallery/gallery-desktop/gal-des7.jpg 1x,
                        ./images/gallery/gallery-desktop/gal-des7-2x.jpg 2x
                        "
                        media="(min-width: 1200px)"
                    >
                    <source 
                        srcset="
                        ./images/gallery/gallery-tablet/gal-tab7.jpg 1x,
                        ./images/gallery/gallery-tablet/gal-tab7-2x.jpg 2x
                        "
                        media="(min-width: 768px)"
                    >
                    <source 
                        srcset="
                            ./images/gallery/gallery-mobile/gal-mob7.jpg 1x,
                            ./images/gallery/gallery-mobile/gal-mob7-2x.jpg 2x
                        "
                        media="(min-width: 320px)"
                    >
                    <img src="./images/gallery/gallery-desktop/gal-des7.jpg" alt="ice-cream" width="138">
                </picture>
                
            </li>
            <li class="gallery-item box8">
                <picture class="gallery-picture">
                    <source 
                        srcset="
                        ./images/gallery/gallery-desktop/gal-des8.jpg 1x,
                        ./images/gallery/gallery-desktop/gal-des8-2x.jpg 2x
                        "
                        media="(min-width: 1200px)"
                    >
                    <source 
                        srcset="
                        ./images/gallery/gallery-tablet/gal-tab8.jpg 1x,
                        ./images/gallery/gallery-tablet/gal-tab8-2x.jpg 2x
                        "
                        media="(min-width: 768px)"
                    >
                    <source 
                        srcset="
                            ./images/gallery/gallery-mobile/gal-mob8.jpg 1x,
                            ./images/gallery/gallery-mobile/gal-mob8-2x.jpg 2x
                        "
                        media="(min-width: 320px)"
                    >
                    <img src="./images/gallery/gallery-desktop/gal-des8.jpg" alt="ice-cream" width="138">
                </picture>
                
            </li>
            <li class="gallery-item box9">
                <picture class="gallery-picture">
                    <source 
                        srcset="
                        ./images/gallery/gallery-desktop/gal-des9.jpg 1x,
                        ./images/gallery/gallery-desktop/gal-des9-2x.jpg 2x
                        "
                        media="(min-width: 1200px)"
                    >
                    <source 
                        srcset="
                        ./images/gallery/gallery-tablet/gal-tab9.jpg 1x,
                        ./images/gallery/gallery-tablet/gal-tab9-2x.jpg 2x
                        "
                        media="(min-width: 768px)"
                    >
                    <source 
                        srcset="
                            ./images/gallery/gallery-mobile/gal-mob9.jpg 1x,
                            ./images/gallery/gallery-mobile/gal-mob9-2x.jpg 2x
                        "
                        media="(min-width: 320px)"
                    >
                    <img src="./images/gallery/gallery-desktop/gal-des9.jpg" alt="ice-cream" width="138">
                </picture>
                
            </li>
            <li class="gallery-item box10">
                <picture class="gallery-picture">
                    <source 
                        srcset="
                        ./images/gallery/gallery-desktop/gal-des10.jpg 1x,
                        ./images/gallery/gallery-desktop/gal-des10-2x.jpg 2x
                        "
                        media="(min-width: 1200px)"
                    >
                    <source 
                        srcset="
                        ./images/gallery/gallery-tablet/gal-tab10.jpg 1x,
                        ./images/gallery/gallery-tablet/gal-tab10-2x.jpg 2x
                        "
                        media="(min-width: 768px)"
                    >
                    <source 
                        srcset="
                            ./images/gallery/gallery-mobile/gal-mob10.jpg 1x,
                            ./images/gallery/gallery-mobile/gal-mob10-2x.jpg 2x
                        "
                        media="(min-width: 320px)"
                    >
                    <img src="./images/gallery/gallery-desktop/gal-des10.jpg" 
                        alt="ice-cream" 
                        width="138"
                        height="138px"
                    >
                </picture>
                
            </li>
        </ul>

    </div>

</section>