<!-- Ангелина -->
<section class="gallery section " id="gallery">
    <div class="container">
        <h2 class="gallery-title visually-hidden">gallery</h2>
        <ul class="gallery-list list">
            <li class="gallery-item box1" data-aos="fade-right"
            data-aos-offset="300"
            data-aos-easing="ease-in-sine">
                <picture class="gallery-picture">
                    <source 
                        srcset="
                        ./images/gallery/gallery-desktop/gal-des1.png 1x,
                        ./images/gallery/gallery-desktop/gal-des1-2x.png 2x
                        "
                        media="(min-width: 1200px)"
                    >
                    <source 
                        srcset="
                        ./images/gallery/gallery-tablet/gal-tab1.png 1x,
                        ./images/gallery/gallery-tablet/gal-tab1-2x.png 2x
                        "
                        media="(min-width: 768px)"
                    >
                    <source 
                        srcset="
                            ./images/gallery/gallery-mobile/gal-mob1.png 1x,
                            ./images/gallery/gallery-mobile/gal-mob1-2x.png 2x
                        "
                        media="(min-width: 320px)"
                    >
                    <img src="./images/gallery/gallery-desktop/gal-des1.png" alt="ice-cream" width="138">
                </picture>
               
                
            </li>
            <li class="gallery-item box2" data-aos="fade-right"
            data-aos-offset="300"
            data-aos-easing="ease-in-sine">
                <picture class="gallery-picture">
                    <source 
                        srcset="
                        ./images/gallery/gallery-desktop/gal-des2.png 1x,
                        ./images/gallery/gallery-desktop/gal-des2-2x.png 2x
                        "
                        media="(min-width: 1200px)"
                    >
                    <source 
                        srcset="
                        ./images/gallery/gallery-tablet/gal-tab2.png 1x,
                        ./images/gallery/gallery-tablet/gal-tab2-2x.png 2x
                        "
                        media="(min-width: 768px)"
                    >
                    <source 
                        srcset="
                            ./images/gallery/gallery-mobile/gal-mob2.png 1x,
                            ./images/gallery/gallery-mobile/gal-mob2-2x.png 2x
                        "
                        media="(min-width: 320px)"
                    >
                    <img src="./images/gallery/gallery-desktop/gal-des2.png" alt="ice-cream" width="138">
                </picture>
                
            </li>
            <li class="gallery-item box3" data-aos="fade-right"
            data-aos-offset="300"
            data-aos-easing="ease-in-sine">
                <picture class="gallery-picture">
                    <source 
                        srcset="
                        ./images/gallery/gallery-desktop/gal-des3.png 1x,
                        ./images/gallery/gallery-desktop/gal-des3-2x.png 2x
                        "
                        media="(min-width: 1200px)"
                    >
                    <source 
                        srcset="
                        ./images/gallery/gallery-tablet/gal-tab3.png 1x,
                        ./images/gallery/gallery-tablet/gal-tab3-2x.png 2x
                        "
                        media="(min-width: 768px)"
                    >
                    <source 
                        srcset="
                            ./images/gallery/gallery-mobile/gal-mob3.png 1x,
                            ./images/gallery/gallery-mobile/gal-mob3-2x.png 2x
                        "
                        media="(min-width: 320px)"
                    >
                    <img src="./images/gallery/gallery-desktop/gal-des3.png" alt="ice-cream" width="283">
                </picture>
                
            </li>
            <li class="gallery-item box4" data-aos="fade-right"
            data-aos-offset="300"
            data-aos-easing="ease-in-sine">
                <picture class="gallery-picture">
                    <source 
                        srcset="
                        ./images/gallery/gallery-desktop/gal-des4.png 1x,
                        ./images/gallery/gallery-desktop/gal-des4-2x.png 2x
                        "
                        media="(min-width: 1200px)"
                    >
                    <source 
                        srcset="
                        ./images/gallery/gallery-tablet/gal-tab4.png 1x,
                        ./images/gallery/gallery-tablet/gal-tab4-2x.png 2x
                        "
                        media="(min-width: 768px)"
                    >
                    <source 
                        srcset="
                            ./images/gallery/gallery-mobile/gal-mob4.png 1x,
                            ./images/gallery/gallery-mobile/gal-mob4-2x.png 2x
                        "
                        media="(min-width: 320px)"
                    >
                    <img src="./images/gallery/gallery-desktop/gal-des4.png" alt="ice-cream" width="138">
                </picture>
               
            </li>
            <li class="gallery-item box5" data-aos="fade-right"
            data-aos-offset="300"
            data-aos-easing="ease-in-sine">
                <picture class="gallery-picture">
                    <source 
                        srcset="
                        ./images/gallery/gallery-desktop/gal-des5.png 1x,
                        ./images/gallery/gallery-desktop/gal-des5-2x.png 2x
                        "
                        media="(min-width: 1200px)"
                    >
                    <source 
                        srcset="
                        ./images/gallery/gallery-tablet/gal-tab5.png 1x,
                        ./images/gallery/gallery-tablet/gal-tab5-2x.png 2x
                        "
                        media="(min-width: 768px)"
                    >
                    <source 
                        srcset="
                            ./images/gallery/gallery-mobile/gal-mob5.png 1x,
                            ./images/gallery/gallery-mobile/gal-mob5-2x.png 2x
                        "
                        media="(min-width: 320px)"
                    >
                    <img src="./images/gallery/gallery-desktop/gal-des5.png" alt="ice-cream" width="138">
                </picture>
                
            </li>
            <li class="gallery-item box6" data-aos="fade-right"
            data-aos-offset="300"
            data-aos-easing="ease-in-sine">
                <picture class="gallery-picture">
                    <source 
                        srcset="
                        ./images/gallery/gallery-desktop/gal-des6.png 1x,
                        ./images/gallery/gallery-desktop/gal-des6-2x.png 2x
                        "
                        media="(min-width: 1200px)"
                    >
                    <source 
                        srcset="
                        ./images/gallery/gallery-tablet/gal-tab6.png 1x,
                        ./images/gallery/gallery-tablet/gal-tab6-2x.png 2x
                        "
                        media="(min-width: 768px)"
                    >
                    <source 
                        srcset="
                            ./images/gallery/gallery-mobile/gal-mob6.png 1x,
                            ./images/gallery/gallery-mobile/gal-mob6-2x.png 2x
                        "
                        media="(min-width: 320px)"
                    >
                    <img src="./images/gallery/gallery-desktop/gal-des6.png" alt="ice-cream" width="138">
                </picture>
               
            </li>
            <li class="gallery-item box7" data-aos="fade-right"
            data-aos-offset="300"
            data-aos-easing="ease-in-sine">
                <picture class="gallery-picture">
                    <source 
                        srcset="
                        ./images/gallery/gallery-desktop/gal-des7.png 1x,
                        ./images/gallery/gallery-desktop/gal-des7-2x.png 2x
                        "
                        media="(min-width: 1200px)"
                    >
                    <source 
                        srcset="
                        ./images/gallery/gallery-tablet/gal-tab7.png 1x,
                        ./images/gallery/gallery-tablet/gal-tab7-2x.png 2x
                        "
                        media="(min-width: 768px)"
                    >
                    <source 
                        srcset="
                            ./images/gallery/gallery-mobile/gal-mob7.png 1x,
                            ./images/gallery/gallery-mobile/gal-mob7-2x.png 2x
                        "
                        media="(min-width: 320px)"
                    >
                    <img src="./images/gallery/gallery-desktop/gal-des7.png" alt="ice-cream" width="138">
                </picture>
                
            </li>
            <li class="gallery-item box8" data-aos="fade-right"
            data-aos-offset="300"
            data-aos-easing="ease-in-sine">
                <picture class="gallery-picture">
                    <source 
                        srcset="
                        ./images/gallery/gallery-desktop/gal-des8.png 1x,
                        ./images/gallery/gallery-desktop/gal-des8-2x.png 2x
                        "
                        media="(min-width: 1200px)"
                    >
                    <source 
                        srcset="
                        ./images/gallery/gallery-tablet/gal-tab8.png 1x,
                        ./images/gallery/gallery-tablet/gal-tab8-2x.png 2x
                        "
                        media="(min-width: 768px)"
                    >
                    <source 
                        srcset="
                            ./images/gallery/gallery-mobile/gal-mob8.png 1x,
                            ./images/gallery/gallery-mobile/gal-mob8-2x.png 2x
                        "
                        media="(min-width: 320px)"
                    >
                    <img src="./images/gallery/gallery-desktop/gal-des8.png" alt="ice-cream" width="138">
                </picture>
                
            </li>
            <li class="gallery-item box9" data-aos="fade-right"
            data-aos-offset="300"
            data-aos-easing="ease-in-sine">
                <picture class="gallery-picture">
                    <source 
                        srcset="
                        ./images/gallery/gallery-desktop/gal-des9.png 1x,
                        ./images/gallery/gallery-desktop/gal-des9-2x.png 2x
                        "
                        media="(min-width: 1200px)"
                    >
                    <source 
                        srcset="
                        ./images/gallery/gallery-tablet/gal-tab9.png 1x,
                        ./images/gallery/gallery-tablet/gal-tab9-2x.png 2x
                        "
                        media="(min-width: 768px)"
                    >
                    <source 
                        srcset="
                            ./images/gallery/gallery-mobile/gal-mob9.png 1x,
                            ./images/gallery/gallery-mobile/gal-mob9-2x.png 2x
                        "
                        media="(min-width: 320px)"
                    >
                    <img src="./images/gallery/gallery-desktop/gal-des9.png" alt="ice-cream" width="138">
                </picture>
                
            </li>
            <li class="gallery-item box10" data-aos="fade-right"
            data-aos-offset="300"
            data-aos-easing="ease-in-sine">
                <picture class="gallery-picture">
                    <source 
                        srcset="
                        ./images/gallery/gallery-desktop/gal-des10.png 1x,
                        ./images/gallery/gallery-desktop/gal-des10-2x.png 2x
                        "
                        media="(min-width: 1200px)"
                    >
                    <source 
                        srcset="
                        ./images/gallery/gallery-tablet/gal-tab10.png 1x,
                        ./images/gallery/gallery-tablet/gal-tab10-2x.png 2x
                        "
                        media="(min-width: 768px)"
                    >
                    <source 
                        srcset="
                            ./images/gallery/gallery-mobile/gal-mob10.png 1x,
                            ./images/gallery/gallery-mobile/gal-mob10-2x.png 2x
                        "
                        media="(min-width: 320px)"
                    >
                    <img src="./images/gallery/gallery-desktop/gal-des10.png" 
                        alt="ice-cream" 
                        width="138"
                        height="138"
                    >
                </picture>
                
            </li>
        </ul>

    </div>

</section>