<!-- Марина -->

<!--About hero title-->
    
<section class="hero" >
  <div class="container">
    <h1 class="hero_title">
      ice cream<br />
      made with<br />
      <span class="hero_word">passion</span>
    </h1>
    <ul class="hero_button-list ">
      <li class="hero_products-button">
        <button class="hero_button-title" type="button">Products</button>
      </li>
      <li class="hero_made-button">
        <button class="hero_button-title" type="button">How it’s made?</button>
      </li>
    </ul>
  </div>

  <!-- About hero pretitle-->
  <div class="hero_milk">
    <picture>
      <source
        srcset="
          ./images/hero-header/milk1x-descktop.png,
          ./images/hero-header/milk2x-descktop.png
        "
        media="(min-width:1200px)"
      />

      <source
        srcset="
          ./images/hero-header/milk1x-tablet.png,
          ./images/hero-header/milk2x-tablet.png
        "
        media="(min-width:768px)"
      />
      <img src="./images/hero-header/milk2x-tablet.png" alt="milk" />
    </picture>
    <p class="hero_text">
      Lorem ipsum dolor sit amet,<br />
      consectetur adipiscing elit,<br />
      sed do eiusmod tempor<br />incididunt ut labore et
    </p>
    <a href="">
      <svg class="hero_icon" width="26" height="26">
        <use href="./images/icons.svg#icon-arrow-right-thick"></use>
      </svg>
    </a>
  </div>

  <!--About main photo "ice-cream"-->
  <div>
    <ul>
      <li>
        <picture>
          <source
            srcset="
              ./images/hero-header/icecream1x-header-descktop.png,
              ./images/hero-header/icecream2x-header-descktop.png
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/hero-header/icecream1x-header-tablet.png,
              ./images/hero-header/icecream2x-header-tablet.png
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/hero-header/icecream1x-header-mobile.png,
              ./images/hero-header/icecream2x-header-mobile.png
            "
            media="(min-width:480px)"
          />
          <img
            src="./images/hero-header/icecream1x-header-mobile.png"
            alt="ice-cream"
          />
        </picture>
      </li>
      <li class="hero_girl">
        <picture>
          <source
            srcset="
              ./images/hero-header/girl1x-descktop.png,
              ./images/hero-header/girl2x-descktop.png
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/hero-header/girl1x-tablet.png,
              ./images/hero-header/girl2x-tablet.png
            "
            media="(min-width:768px)"
          />

          <img src="./images/hero-header/girl1x-tablet.png" alt="girl" />
        </picture>
      </li>
      </ul>
      <ul class="hero-features">
      <li>16</li>
      
      <li>23</li>
      
    </ul>
  </div>
</section>
