<!-- Марина -->
<section class="hero" id="home">
  <div class="hero__container container" id="hero">
    <h1 class="hero__title">
      ice cream made with
      <span class="hero__focus">passion</span>
    </h1>
    <ul class="hero__list list">
      <li class="hero__item" data-aos="zoom-in-right" data-aos-duration="500">
        <a href="#products" class="hero__link hero__link--product link"
          >Products</a
        >
      </li>
      <li class="hero__item" data-aos="zoom-in-left" data-aos-duration="500">
        <a href="#about" class="hero__link hero__link--made link"
          >How it&apos;s made?</a
        >
      </li>
    </ul>

    <div class="hero__descr">
      <p class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <button class="hero__btn" type="button" aria-label="Feature">
        <svg class="hero__btn--icon" width="15" height="15">
          <use href="./images/icons.svg#icon-arrow"></use>
        </svg>
      </button>
    </div>

    <div class="hero__features hero__features--cafes">
      <p
        class="hero__subtitle hero__subtitle--cafes"
        data-aos="zoom-in-down"
        data-aos-duration="500"
      >
        16
      </p>
      <span class="features__text features__text--cafes">cafes</span>
    </div>

    <div class="hero__features hero__features--trucks">
      <p
        class="hero__subtitle hero__subtitle--trucks"
        data-aos="zoom-in-up"
        data-aos-duration="500"
      >
        23
      </p>
      <span class="features__text features__text--trucks">food trucks</span>
    </div>
  </div>
</section>
