<!-- Марина -->
<section class="hero">
  <div class="hero__container container">
    <h1 class="hero__title">
      ice cream made with <span class="hero__focus">passion</span>
    </h1>
    <ul class="hero__list list">
      <li class="hero__item">
        <a href="#products" class="hero__link hero__link--product link"
          >Products</a
        >
      </li>
      <li class="hero__item">
        <a href="#made" class="hero__link hero__link--made link"
          >How it&apos;s made?</a
        >
      </li>
    </ul>
  </div>
</section>
