<!-- Валерия -->
<section class="products section" id="products">
  <div class="container">
    <p class="products__info" data-aos="zoom-out">100% natural</p>
    <h2 class="products__header" data-aos="zoom-out">products</h2>
    <ul class="menu">
      <li class="menu__item menu__item--pink">
        <h3 class="menu__header ice-cream">ice cream</h3>
        <p class="menu__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="menu__btn" type="button" name="arrow">
          <svg class="btn-icon" width="40" height="40">
            <use href="./images/icons.svg#icon-arrow"></use>
          </svg>
        </button>
        <div class="extra-ice-cream">
          <h4 class="extra-ice-cream__heading">choose your flavour</h4>
          <ul class="extra-ice-cream__list">
            <li class="extra-ice-cream__item">Strawberry</li>
            <li class="extra-ice-cream__item">Chocolate</li>
            <li class="extra-ice-cream__item">Vanilla</li>
            <li class="extra-ice-cream__item">Cookie Dough</li>
            <li class="extra-ice-cream__item">Mango</li>
            <li class="extra-ice-cream__item">Hazenut</li>
          </ul>
        </div>
      </li>
      <li class="menu__item menu__item--orange">
        <h3 class="menu__header ice-coffee">ice coffee</h3>
        <p class="menu__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="menu__btn" type="button" name="arrow">
          <svg class="btn-icon" width="40" height="40">
            <use href="./images/icons.svg#icon-arrow"></use>
          </svg>
        </button>
        <div class="extra-ice-coffee">
          <h4 class="extra-ice-coffee__heading">add your syrup</h4>
          <ul class="extra-ice-coffee__list">
            <li class="extra-ice-coffee__item">Salted caramel</li>
            <li class="extra-ice-coffee__item">Hazelnut</li>
            <li class="extra-ice-coffee__item">Almond</li>
            <li class="extra-ice-coffee__item">Pistachio</li>
            <li class="extra-ice-coffee__item">Coconut</li>
            <li class="extra-ice-coffee__item">Orange</li>
          </ul>
        </div>
      </li>
      <li class="menu__item menu__item--green">
        <h3 class="menu__header milkshakes">milkshakes</h3>
        <p class="menu__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="menu__btn" type="button" name="arrow">
          <svg class="btn-icon" width="40" height="40">
            <use href="./images/icons.svg#icon-arrow"></use>
          </svg>
        </button>
        <div class="extra-milkshake">
          <h4 class="extra-milkshake__heading">choose your flavour</h4>
          <ul class="extra-milkshake__list">
            <li class="extra-milkshake__item">Strawberry</li>
            <li class="extra-milkshake__item">Chocolate</li>
            <li class="extra-milkshake__item">Vanilla</li>
            <li class="extra-milkshake__item">Banana</li>
            <li class="extra-milkshake__item">Coffee</li>
            <li class="extra-milkshake__item">Berry mix</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
