// Алевтина
.location{
    background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 26.5%,
    rgba(255, 245, 246, 1) 26.5%);
}

.location__title{
    visibility: hidden;
}

.location__list{
    margin-bottom: 32px;
    list-style: none;
}

.location__item {
    padding: 40px 32px;
    flex-shrink: 0;
    background-color: $white;
    border-radius: 24px;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
}

.location__item:not(:last-child) {
    margin-bottom: 20px;
}

.location__point {
    display: inline;
    align-items: center;
    padding: 0px 24px;
    background: $bg-cafe;
    border-radius: 4px;
    text-align: center;
    color: $white;
    @include font(500, 12px, 1.83, 0.04em);  
}

.location__LosAgneles{
    background: $bg-green;
}

.location__city {
    @include font(500, 12px, 1.83, 0.04em);
    font-style: normal;
    color: $text-color;
    margin-top: 20px;
    margin-bottom: 8px;
    font: $main-font;
}

.location__text{
    @include font(500, 12px, 1.5, 0.04em);
    font-style: normal;
    color: $subtext-color;
    margin-top: 24px;
    font: $main-font;
}

.location__schedule::before{
    content: '';
    margin-bottom: 24px;
    display: flex;
    width: 100%;
    border: 1px solid $quote-line-color;
    margin-top: 24px;
}

.location__schedule::after {
    content: '';
    display: flex;
    margin-top: 24px;
    margin-bottom: 24px;
    width: 100%;
    border: 1px solid $quote-line-color;
}

.location__working-mode {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.83;
    color: $text-color;
}

.location__working-hours{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.83;
    margin-bottom: 8px;
    color: $brand-accent;
}

.location__contacts-link {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    text-decoration: none;
    color: $subtext-color;
    transition: color $transition;
    &:hover,
    &:focus{
        color: $brand-color;
    }
}

// .location__button{

// }

.location__button-item {
    display: flex;
    justify-content: space-around;
}

.location__button-loc{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: $alternate-accent-color;
    color: $white;
    width: 161px;
    height: 44px;
    border-radius: 22px;
    border: 0;
    @include font(700, 16px, 1.31, 0.02em);
    margin-bottom: 10px;
    transition-property: background-color $transition;

}

.location__button-icon-loc{
    fill: $white;
}

.location__button-fran{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 161px;
    height: 44px;
    border-radius: 22px;
    border: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    background-color: $white;
    color: $brand-color;
    transition: background-color $transition;
    &:hover,
    &:focus {
        background-color: $hover-bg-color;
    }
}

svg{
    margin-right: 0;
    margin-left: 0;
}

.location__button-icon-fran{
    fill: $brand-color;
}

.location__button-text{
    margin-right: 8px;
}

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;  
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    transition-property: visibility, opacity;
    transition-duration: 250ms;
}

.modal-location {
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    // width: 100%;
}

// .backdrop.is-hidden {
//     visibility: hidden;
//     opacity: 0;
//     pointer-events: none;
// }

// .modal-location__iframe {
//     width: 100%;
//     height: 400px;
// }

.modal-location__close-btn{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: $white;
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 8px;
    &:hover,
    &:focus {
        background-color: $hover-bg-color;
    }
}

.modal-location__close{
    fill: $brand-color;
    transition-property: fill;
    transition-duration: 250ms;
}