// Алевтина
.location{
    background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 26.5%,
    rgba(255, 245, 246, 1) 26.5%);
    @media screen and (min-width: 768px){
        background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 48.5%,
      rgba(255, 245, 246, 1) 48.5%
    );
    padding-top: 80px;
    }
    @media screen and (min-width: 1200px){
        background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 1) 28%,
            rgba(255, 245, 246, 1) 28%
          );
          padding-top: 120px;
    }
}

.location__title{
    visibility: hidden;
}

.location__list{
    margin-bottom: 54px;

  @media screen and( max-width:767px ) {
    // padding-left: 30px;
    // padding-right: 30px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-bottom: 81px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: -31px;
    margin-bottom: 86px;
  }
    // margin-bottom: 32px;
    // list-style: none;
    // @media screen and (min-width: 768px){
    //     display: flex;
    //     flex-wrap: wrap;
    //     gap: 32px;
    //     margin-bottom: 60px;
    // }
    // @media screen and (min-width: 1200px){
    //     display: flex;
    //     flex-wrap: wrap;
    // }
}

.location__item {
    // padding: 40px 32px;
    // flex-shrink: 0;
    min-height: 427px;
    padding: 43px 20px;
    background-color: $white;
    border-radius: 24px;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    @media screen and (min-width: 768px){
        flex-basis: calc(100% / 3 - 20px);
        margin-left: 20px;
        padding: 50px 32px 50px 31px;
        // width: 100%;
        // max-width: 224px;
    }
    @media screen and (min-width: 1200px){
        flex-basis: calc(100% / 3 - 31px);
        margin-left: 31px;
        padding: 51px 44px 62px 43px;
        // width: 100%;
        // max-width: 368px;
    }
}

.location__item:not(:last-child) {
    margin-bottom: 20px;
    @media screen and (min-width: 768px){
        margin-bottom: 0;
    }
}

.location__point {
    display: inline;
    align-items: center;
    padding: 0px 24px;
    background: $bg-cafe;
    border-radius: 4px;
    text-align: center;
    color: $white;
    @include font(500, 12px, 1.83, 0.04em);
    @media screen and (min-width: 768px){
        padding: 3.5px 17px;
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 1.86;
    text-align: center;
    letter-spacing: 0.04em;
    border-radius: 6px;
    }
}

.location__LosAgneles{
    background: $bg-green;
}

.location__city {
    @include font(500, 12px, 1.83, 0.04em);
    font-style: normal;
    color: $text-color;
    margin-top: 20px;
    margin-bottom: 8px;
    font: $main-font;
    @media screen and (min-width: 768px){
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    margin-bottom: 12px;
    }
    @media screen and (min-width: 1200px){
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    margin-bottom: 8px;
    }
}

.location__text{
    @include font(500, 12px, 1.5, 0.04em);
    font-style: normal;
    color: $subtext-color;
    margin-top: 24px;
    font: $main-font;
    @media screen and (min-width: 480px) and (max-width: 767px){
        max-width: 416px;
    }
    @media screen and (min-width: 480px){
    font-size: 14px;
    line-height: 1.66;
    margin-top: 0;
    }
    @media screen and (min-width: 1200px){
     max-width: 243px;
    font-size: 16px;
    line-height: 1.83;
    }
}

.location__schedule::before{
    content: '';
    margin-bottom: 24px;
    display: flex;
    width: 100%;
    border: 1px solid $quote-line-color;
    margin-top: 24px;
    @media screen and (min-width: 768px){
    width: 100%;
    margin-bottom: 32px;
    }
}

.location__schedule::after {
    content: '';
    display: flex;
    margin-top: 24px;
    margin-bottom: 24px;
    width: 100%;
    border: 1px solid $quote-line-color;
    @media screen and (min-width: 768px){
    width: 100%;
    margin-top: 32px;
    margin-bottom: 32px;
    }
}

.location__working-mode {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.83;
    color: $text-color;
    @media screen and (min-width: 768px){
    font-size: 14px;
    line-height: 1.86;
    }
    @media screen and (min-width: 1200px){
    font-size: 16px;
    line-height: 1.86;
    }
}

.location__working-hours{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.83;
    margin-bottom: 8px;
    color: $brand-accent;
    @media screen and (min-width: 768px){
    font-size: 14px;
    line-height: 1.86;
    margin-bottom: 12px;
    }
    @media screen and (min-width: 1200px){
    font-size: 16px;
    line-height: 1.86;
    }
}

.location__contacts-link {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    text-decoration: none;
    color: $subtext-color;
    transition: color $transition;
    &:hover,
    &:focus{
        color: $brand-color;
    }
    @media screen and (min-width: 768px){
    font-size: 14px;
    line-height: 183%;       
    }
    @media screen and (min-width: 1200px){
    font-size: 16px;
    line-height: 1.83;    
    }
}

.location__button{
    @media screen and (min-width: 768px){
    display: flex;
    justify-content: center;
    gap: 14.5px;    
    }
    @media screen and (min-width: 1200px){
    gap: 12px;   
    }
}

.location__button-item {
    display: flex;
    justify-content: space-around;
}

.location__button-loc{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: $alternate-accent-color;
    color: $white;
    width: 161px;
    height: 44px;
    border-radius: 22px;
    border: 0;
    @include font(700, 16px, 1.31, 0.02em);
    margin-bottom: 10px;
    transition-property: background-color $transition;
    @media screen and (min-width: 768px){
        margin-bottom: 0;
        width: 191px;
    }
    @media screen and (min-width: 1200px){
        width: 198px;
    }
    &:hover,
    &:focus {
        background-color: $hover-bg-accent-color;
    }

}

.location__button-icon-loc{
    fill: $white;
}

.btn-accent-flicker {
    position: relative;
    overflow: hidden;
}

.location__button-fran{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 161px;
    height: 44px;
    border-radius: 22px;
    border: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    background-color: $white;
    color: $brand-color;
    transition: background-color $transition;
    &:hover,
    &:focus {
        background-color: $hover-bg-color;
    }
    @media screen and (min-width: 768px){
        width: 174px;
    }
    @media screen and (min-width: 1200px){
        width: 168px;
    }
}

svg{
    margin-right: 0;
    margin-left: 0;
}

.location__button-icon-fran{
    fill: $brand-color;
}

.location__button-text{
    margin-right: 8px;
    @media screen and (min-width: 768px){
        margin-right: 13px;
    }
}

.backdrop__location {
    position: fixed;
    width: 100%;
    height: 100%;  
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    transition-property: visibility, opacity;
    transition-duration: 250ms;
}

.modal-location {
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    @media screen and (min-width: 768px){
        width: 70%;
    }

}

// .backdrop-location.is-hidden {
//     visibility: hidden;
//     opacity: 0;
//     pointer-events: none;
// }

// .modal-location__iframe {
//     width: 100%;
//     height: 400px;
// }

.modal-location__close-btn{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: $white;
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 8px;
    &:hover,
    &:focus {
        background-color: $hover-bg-color;
    }
}

.modal-location__close{
    fill: $brand-color;
    transition-property: fill;
    transition-duration: 250ms;
}