// Виктория
.customer .container {
  @include tablet {
    padding-left: 74px;
    padding-right: 74px;
  }

  @include desktop {
    padding-left: 116px;
    padding-right: 116px;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  height: auto;
  padding-bottom: 20px;
}

.swiper-slide__pic {
  margin: 0 auto;
  margin-bottom: 32px;

  @include tablet {
    margin-bottom: 20px;
  }

  @include desktop {
    margin-bottom: 16px;
  }
}

.customer-article {
  width: 100%;
  background: $quote-bg-color;
  padding: 43px 50px 17px 50px;

  @include tablet {
    padding: 20px 6px;
  }

  @include desktop {
    padding: 32px 74px 31px 74px;
  }
}

.customer-article__text {
  @include font(500, 12px, 2.58, null);
  text-align: center;
  color: $text-color;
  background: repeating-linear-gradient(
    to bottom,
    $quote-bg-color 0px,
    $quote-bg-color 30px,
    $quote-line-color 30px,
    $quote-line-color 31px
  );

  @include tablet {
    width: 608px;
    @include font(500, 14px, 2.14, 0.04);
  }

  @include desktop {
    width: 822px;
    @include font(500, 16px, 1.88, 0.04);
  }

  &::before {
    content: '';
    display: inline-block;
    background-image: url('/src/images/custom-services/quotes.svg');
    width: 54px;
    height: 40px;
  }
}

.customer-icon {
  display: flex;
  margin-top: 16px;
  align-items: center;
  justify-content: center;
}

.customer-icon__item {
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}

.customer__location {
  position: relative;
  margin-top: 32px;
  margin-bottom: 16px;
  @include font(500, 14px, 1.66, null);
  text-align: center;
  color: $text-color;

  @include tablet {
    @include font(500, 16px, 1.88, null);
  }

  @include desktop {
    @include font(500, 20px, 1.85, null);
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 32px;
    height: 4px;

    top: -50%;
    left: 50%;
    transform: translate(-50%, 50%);

    background: url('/src/images/custom-services/customer-ellipse.svg'),
      url('/src/images/custom-services/customer-ellipse.svg'),
      url('/src/images/custom-services/customer-ellipse.svg');

    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: left, center, right;
  }
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #d9d9d9;
}

.swiper-pagination-bullet-active {
  content: '';
  background: url('/src/images/custom-services/icon-home.svg');
  width: 12.4px;
  height: 11.84px;
  border-radius: 0;
}
