// Маргарита
.footer {
    background-color: $bg-light;
}

.footer-wrap {
    @include tablet {
        display: flex;
        margin-bottom: 48px;
        justify-content: space-between;
    }
}
.footer-online {
    @include tablet {
        text-align: center;
    }
}
.footer-title {
    padding-top: 40px;
    padding-right: 66px;
    font-family: $brand-font;
    width: 232px;
    @include font(400, 18px, 1.16, null);
text-transform: uppercase;
color: $brand-accent;

@include tablet {
    @include font(null, 26px, 1.14, 00.06em);
    width: 340px;
}
}

.footer-second-title {
    margin-top: 16px;
    padding-right: 100px;
    font-family: $brand-font;
    width: 200px;
    @include font(400, 34px, 1.15, 0.04em);
text-transform: uppercase;
color: $brand-color;

@include tablet {
    @include font(null, 48px, 1.14, 0.06em);
}
}

.footer-list {
    display: flex;
    gap: 28px;
    margin-top: 40px;
    text-align: center;
    justify-content: flex-end;
    @include tablet {
        margin-top: 100px;
    }
}
.footer-list__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: $social-bg-color;
}
.footer-list__link {
    color: $white;
}

.footer-soc-icon {
    fill: currentColor;
}

.footer-text {
    margin-top: 40px;
    margin-bottom: 56px;
    @include font(700, 12px, 1.83, null);
text-align: right;

@include tablet {
    @include font(null, 14px, 1.85, null);
}
}

.footer-tel {
    color: $brand-color;
}
.footer-copy::before{
    content: '';
position: absolute;
    bottom: 61px;
    display: block;
    width: 100%;
    height: 1px;
    background-color: $quote-line-color;
    @include tablet {
    bottom: 37px;
    }
}
.footer-copy {
    position: relative;
    padding-bottom: 3px;
    @include tablet {
        display: flex;
        justify-content: center;
        padding-bottom: 4px;
        }
}

.footer-copy__item {
    @include font(700, null, 1.5, null);
text-align: center;
color: $subtext-color;

@include tablet {
    @include font(null, null, 1.85, null);
letter-spacing: 0.02em;
}
}