// Ангелина
// .gallery {
//     background: linear-gradient(#FFF5F6 20%, #E5E5E5 20%);
    

// }

.gallery {
    margin-left: auto;
   margin-right: auto;
   background-size: cover;
   background: linear-gradient($bg-light 30%, $white 30%);
   
   
   .container {
        padding-left: 0;
        padding-right: 0;
        display: flex;
        @media screen and (min-width: 768px) {
            padding-left: 20px;
            padding-right: 20px;
        }
        

        
    }
}

.gallery-list {
    
    display: grid;
   grid-template-columns: repeat(7, 1fr);
   grid-template-rows: repeat(12, 1fr);
   row-gap: 3px;
   column-gap: 3px;
   margin-left: auto;
   margin-right: auto;
   max-width: 320px;
   max-height: 136px;
   justify-content: center;
   border-radius: 8px;
   @media screen and (min-width: 768px) {
        max-width: 668px;
        max-height: 327px;
        row-gap: 6px;
        column-gap: 6px;
    }
    @media screen and (min-width: 1200px) {
        max-width: 1013px;
        max-height: 430px;
        row-gap: 8px;
        column-gap: 8px;
    }
    .box1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 9;
    }
    .box2 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 7;
    }
    .box3 {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 9;
    }
    .box4 {
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 3;
        grid-row-end: 7;
    }

    .box5 {
        grid-column-start: 6;
        grid-column-end: 7;
        grid-row-start: 2;
        grid-row-end: 6;
        
    }
    .box6 {
        grid-column-start: 7;
        grid-column-end: 8;
        grid-row-start: 5;
        grid-row-end: 9;
    }

    .box7 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 7;
        grid-row-end: 11;
    }
    .box8 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 9;
        grid-row-end: 13;
    }
    .box9 {
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 7;
        grid-row-end: 11;
    }
    .box10 {
        grid-column-start: 6;
        grid-column-end: 7;
        grid-row-start: 6;
        grid-row-end: 10;
    }
    
}