// Сергей
.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  // padding-left: 0;
  // padding-right: 0;
}

.header__container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;

  // padding-left: 0;
  // padding-right: 0;

  padding-top: 8px;

  @media screen and (min-width: 768px) {
    padding-top: 32px;
    // padding-left: 32px;
    // padding-right: 32px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 37px;
    // padding-left: 16px;
    // padding-right: 32px;
  }
}

.header__link {
  display: block;
  background-color: transparent;
  @media screen and (min-width: 1200px) {
    margin-right: 128px;
  }
}

.header__menu {
  z-index: 101;

  @media screen and (max-width: 1199.98px) {
    display: flex;
    height: 44px;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);

    transition: (transform $transition), (box-shadow $transition);
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row-reverse;
    opacity: 1;
    visibility: visible;
  }

  &.is-open {
    position: absolute;

    @media screen and (min-width: 320px) {
      width: 100%;
      padding-top: 60px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
      max-width: 254px;
      padding-top: 58px;
    }

    @media screen and (max-width: 1199.98px) {
      display: flex;
      top: 0;
      right: 0;

      height: 100vh;
      flex-direction: column;

      opacity: 1;
      visibility: visible;

      background-color: #e17992;
      box-shadow: -8px 0px 20px rgba(0, 0, 0, 0.25);

      transform: translateX(0%);

      transition: (transform $transition), (box-shadow $transition);
    }
  }
}

.modal__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
  height: 44px;

  @media screen and (max-width: 767.98px) {
    display: none;
  }

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    width: 160px;
  }

  @media screen and (min-width: 1200px) {
    width: 160px;
  }

  border: none;
  border-radius: 22px;
  color: $brand-color;
  background-color: $white;

  @include font(700, 16px, 1.31, 0.04em);

  &:hover,
  &:focus {
    background-color: $hover-bg-color;
  }

  &--menu {
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 320px) {
      display: flex;
      width: calc(100% - 40px);
      max-width: 280px;
      margin-bottom: 19px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
      width: calc(100% - 64px);
      margin-bottom: 33px;
    }

    @media screen and (min-width: 1200px) {
      display: none;
    }
  }
}

.btn__icon {
  display: inline-block;
  margin-left: 14px;
  margin-right: 0;
  fill: $brand-color;
}

/* Site-nav */
.nav__btn {
  display: block;
  z-index: 102;

  @media screen and (max-width: 767.98px) {
    position: absolute;
    top: 21px;
    right: 40px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    margin-right: 32px;
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  padding: 0;
  border: none;
  background-color: transparent;
  transition: background-color $transition;

  cursor: pointer;

  &.is-open {
    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
      position: absolute;
      top: 20px;
      right: 32px;
      margin: 0;
    }
  }

  & .icon__cross {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity $transition;
  }

  &.is-open .icon__cross {
    display: block;
    opacity: 1;
    visibility: visible;
    transition: opacity $transition;
  }

  &.is-open .icon__menu {
    // display: none;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity $transition;
  }
}

.icon__menu {
  fill: $brand-color;
}

.icon__cross {
  fill: $white;
}

.nav__list {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.nav__item {
  display: flex;
  align-items: center;

  @media screen and (max-width: 1199.98px) {
    border-top: 1px solid #e18298;
    padding-left: 20px;
    height: 42px;

    &:last-child {
      border-bottom: 1px solid #e18298;
    }
  }

  @media screen and (min-width: 1200px) {
    justify-content: center;
    &:not(:last-child) {
      margin-right: 35px;
    }
  }
}

.nav__link {
  display: block;
  color: $white;

  transition: color $transition;

  @media screen and (min-width: 320px) {
    @include font(700, 14px, 1.28, 0.04em);
  }

  @media screen and (min-width: 1200px) {
    @include font(700, 16px, 1.31, 0.04em);
  }

  &:hover,
  &:focus {
    color: $brand-color;
    transition: color $transition;
  }

  &--current {
    color: $brand-color;
  }
}
