// Марина
.hero {
  background-color: $bg-color;
}

.hero__container {
  @media screen and (max-width: 767.98px) {
    padding-top: 136px;
    padding-bottom: 158px;

    background-image: url(/src/images/hero/ice-cream1x-mobile.png),
      url(/src/images/hero/ellipse1x-mobile.png);
    background-size: 171px 410px, 284px 344px;
    background-repeat: no-repeat;
    background-position: 117px 36px, 36px 25px;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/src/images/hero/ice-cream2x-mobile.png),
        url(/src/images/hero/ellipse2x-mobile.png);
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    overflow: visible;
    padding-top: 20px;
    padding-bottom: 56px;

    background-image: url(/src/images/hero/dote1x-tablet.png),
      url(/src/images/hero/dote1x-tablet.png),
      url(/src/images/hero/girl1x-tablet.png),
      url(/src/images/hero/milk1x-tablet.png),
      url(/src/images/hero/ice-cream1x-tablet.png),
      url(/src/images/hero/ellipse1x-tablet.png);

    background-size: 16px 16px, 16px 16px, 190px 150px, 152px 154px, 143px 336px,
      335px 333px;

    background-repeat: no-repeat;

    background-position: right 32px bottom 308px, right 32px bottom 248px,
      right 32px bottom 0px, left 32px bottom 16px, right 303px bottom 0px,
      right 185px bottom 40px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/src/images/hero/dote2x-tablet.png),
        url(/src/images/hero/dote2x-tablet.png),
        url(/src/images/hero/girl2x-tablet.png),
        url(/src/images/hero/milk2x-tablet.png),
        url(/src/images/hero/ice-cream2x-tablet.png),
        url(/src/images/hero/ellipse2x-tablet.png);
    }
  }
}

.hero__title {
  display: block;
  max-width: 218px;
  margin-bottom: 20px;

  font-family: 'Titan One';
  font-style: normal;
  @include font(400, 26px, 1.15, 0.04em);

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    @include font(400, 22px, 1.14, 0.04em);
  }

  text-transform: uppercase;

  color: $white;
}

.hero__focus {
  font-family: inherit;
  @include font(400, 48px, 0.96, 0.04em);

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    @include font(400, 34px, 0.91, 0.04em);
  }

  text-transform: inherit;

  color: $brand-color;
}

.hero__list {
  display: flex;

  gap: 8px;
}

.hero__link {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 24px;
  padding: 0 14px;

  border: none;
  border-radius: 20px;

  cursor: pointer;
  @include font(400, 8px, 1.25, 0.04em);

  &--product {
    color: $white;
    background-color: $brand-color;
  }

  &--made {
    color: $brand-color;
    background-color: $white;
  }
}

.hero__descr {
  @media screen and (max-width: 767.98px) {
    display: none;
  }

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    margin-top: 61px;
    margin-left: 164px;
  }
}

.hero__text {
  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    display: inline-block;
    flex-wrap: wrap;
    max-width: 114px;
    margin-bottom: 7px;

    @include font(400, 8px, 1.5, 0.04em);

    color: $white;
  }
}

.hero__btn {
  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    display: block;
    align-items: center;
    justify-content: center;
    padding: 0;

    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: none;
    background-color: $white;

    &:active {
      box-shadow: 0px 3px 1px rgba(114, 8, 47, 0.12),
        0px 1px 2px rgba(120, 5, 45, 0.12), 0px 2px 2px rgba(157, 25, 54, 0.12);
    }

    &--icon {
      margin-left: auto;
      margin-right: auto;
      fill: $brand-color;
    }
  }
}
