// Валерия
.products {
  padding-bottom: 60px;
}

.products__info {
  font-family: $brand-font;
  @include font(400, 18px, 1.17, null);
  text-align: center;
  text-transform: uppercase;

  color: $brand-accent;

  padding-bottom: 15px;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
  }
}

.products__header {
  font-family: $brand-font;
  @include font(400, 34px, 1.15, 0.04em);
  text-align: center;
  text-transform: uppercase;

  color: $brand-color;

  margin-bottom: 148px;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    margin-bottom: 158px;
  }

  @media screen and (min-width: 1200px) {
    @include font(null, 58px, 1.14, 0.06em);
    margin-bottom: 281px;
  }
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
    gap: 16px;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    gap: 32px;
  }
}

.menu__item {
  position: relative;
  width: 100%;
  height: 489px;

  background: $bg-color;
  border-radius: 24px;
  padding-top: 160px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &--orange {
    background-color: $bg-cafe;
  }

  &--green {
    background-color: $bg-green;
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 32px) / 3);
    height: 473px;
    padding-top: 118px;
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 64px) / 3);
    height: 535px;
    padding-top: 165px;
  }
}

.menu__item:not(:first-child) {
  margin-top: 140px;
  @media screen and (min-width: 768px) {
    margin-top: 0;
  }
}

.menu__item--pink {
  position: relative;

  &::before {
    content: '  ';
    position: absolute;
    top: -140;

    right: center;
    width: 280px;
    height: 280px;
    background-image: url('/src/images/products/icecream1x-mobile.png');
    @media screen and (min-width: 768px) {
      width: 224px;
      height: 224px;
      background-image: url('/src/images/products/icecream1x-tablet.png');
    }

    @media screen and (min-width: 1200px) {
      width: 368px;
      height: 394px;
      top: -260;
      background-image: url('/src/images/products/icecream1x-descktop.png');
    }
  }
}

.menu__item--orange {
  position: relative;

  &::before {
    content: '  ';
    position: absolute;
    top: -140;
    right: center;
    width: 280px;
    height: 280px;
    background-image: url('/src/images/products/icecoffee1x-mobile.png');

    @media screen and (min-width: 768px) {
      width: 224px;
      height: 224px;
      background-image: url('/src/images/products/icecoffee1x-tablet.png');
    }

    @media screen and (min-width: 1200px) {
      width: 368px;
      height: 394px;
      top: -260;
      background-image: url('/src/images/products/icecoffee1x-descktop.png');
    }
  }
}

.menu__item--green {
  position: relative;

  &::before {
    content: '  ';
    position: absolute;
    top: -140;
    right: center;
    width: 280px;
    height: 280px;
    background-image: url('/src/images/products/milkshake1x-mobile.png');

    @media screen and (min-width: 768px) {
      width: 224px;
      height: 224px;
      background-image: url('/src/images/products/milkshake1x-tablet.png');
    }

    @media screen and (min-width: 1200px) {
      width: 368px;
      height: 394px;
      top: -260;
      background-image: url('/src/images/products/milkshake1x-descktop.png');
    }
  }
}

.menu__header {
  position: relative;
  font-family: $brand-font;
  @include font(400, 20px, 1.15, 0.04em);
  text-align: center;
  text-transform: uppercase;

  color: $white;

  margin-bottom: 70px;

  &::after {
    content: '...';
    position: absolute;
    width: 26px;
    height: 6px;
    top: 42;
    left: 37.5%;
    @include font(null, 25px, 1.15, 0.1em);

    @media screen and (min-width: 1200px) {
      top: 50;
    }
  }

  @media screen and (min-width: 1200px) {
    @include font(null, 30px, 1.13, 0.04em);
  }
}

.menu__text {
  @include font(700, 14px, 1.5, 0.04em);
  text-align: center;

  @media screen and (min-width: 768px) {
    line-height: 1.8;
    max-width: 160px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.75;
    max-width: 245px;
    margin-bottom: 60px;
  }

  color: $white;

  max-width: 200px;
  margin-bottom: 32px;
}
.menu__btn {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: $white;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $hover-bg-color;
  }

  &:active {
    box-shadow: inset 0px 4px 2px rgba(114, 8, 47, 0.12),
      0px 2px 3px rgba(120, 5, 45, 0.12), 1px 3px 3px rgba(157, 25, 54, 0.12);
  }

  transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-icon {
  fill: $brand-color;
}

.extra-ice-cream {
  position: absolute;
  top: 253;
  opacity: 0;
  width: 100%;
  background-color: #fe9db6;
  border-radius: 24px;
  padding: 20px;
  color: $white;

  @media screen and (min-width: 768px) {
    top: 200;
  }

  @media screen and (min-width: 1200px) {
    top: 268;
  }

  &__heading {
    font-family: $brand-font;
    @include font(400, 16px, 1.15, 0.06em);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;

    @media screen and (min-width: 1200px) {
      font-size: 22px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  &__item {
    @include font(null, 14px, 1.5, 0.04em);
    text-align: center;

    @media screen and (min-width: 768px) {
      font-size: 16px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 18px;
    }
  }

  .menu__btn:active + &,
  .menu__btn:focus + & {
    opacity: 1;
  }

  transition: opacity $transition;
}

.extra-ice-coffee {
  position: absolute;
  top: 235;
  opacity: 0;
  width: 100%;
  background-color: #eec68e;
  border-radius: 24px;
  padding: 20px;
  color: $white;

  @media screen and (min-width: 768px) {
    top: 200;
  }

  @media screen and (min-width: 1200px) {
    top: 268;
  }

  &__heading {
    font-family: $brand-font;
    @include font(400, 16px, 1.15, 0.06em);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;

    @media screen and (min-width: 1200px) {
      font-size: 22px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  &__item {
    @include font(null, 14px, 1.5, 0.04em);
    text-align: center;

    @media screen and (min-width: 768px) {
      font-size: 16px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 18px;
    }
  }

  .menu__btn:active + &,
  .menu__btn:focus + & {
    opacity: 1;
  }

  transition: opacity $transition;
}

.extra-milkshake {
  position: absolute;
  top: 253;
  width: 100%;
  background-color: #b7db87;
  border-radius: 24px;
  padding: 20px;
  color: $white;
  opacity: 0;

  @media screen and (min-width: 768px) {
    top: 200;
  }

  @media screen and (min-width: 1200px) {
    top: 268;
  }

  &__heading {
    font-family: $brand-font;
    @include font(400, 16px, 1.15, 0.06em);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;

    @media screen and (min-width: 1200px) {
      font-size: 22px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 10px;
  }

  &__item {
    @include font(null, 14px, 1.5, 0.04em);
    text-align: center;

    @media screen and (min-width: 768px) {
      font-size: 16px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 18px;
    }
  }

  .menu__btn:active + &,
  .menu__btn:focus + & {
    opacity: 1;
  }
  transition: opacity $transition;
}
